h2 {
	font-family: 楷体;
	font-size: 25px;
	text-align: center;
}

.logintable {
 	background: #00e2ff;
	color: #ffffff;
	font-size: 16px;
	font-weight: thick;
	border-radius: 8px;
	padding: 1%;
	margin: 0 auto;
}

.logintable #head {
	font-size: 17px;
	font-weight: thick;
}

.regtable {
	background: #00e2ff;
	color: #ffffff;
	font-size: 16px;
	font-weight: thick;
	border-radius: 8px;
	padding: 1%;
	margin: 0 auto;
}

.regtable #head {
	font-family: 楷体;
	font-size: 22px;
	padding-bottom: 5px;
	font-weight: thick;
	text-align: center;
}

.exchange-content {
	float: left;
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 1% 1% 1% 1%;
	width: 59.8%;
}

.exchange-detail {
	float: left;
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 1% 1% 1% 1%;
	width: 30.2%;
}

.classfilter-table {
	margin: 0 auto;
}

.classes-table {
	float: left;
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 1% 1% 1% 1%;
	width: 55.8%;
}

.classes-table td {
	text-align: center;
}

.classtable {
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 0 auto;
}

.classtimetable-head {
	margin: 0 auto;
}

.classtimetable-tail {
	margin: 0 auto;
}

.classtimetable {
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 0 auto;
}

.class-show {
	float: left;
	background: #00e2ff;
	border-radius: 8px;
	padding: 1%;
	margin: 1% 1% 1% 1%;
	width: 35.2%;
}

.class-show #classshower {
	margin: 0 auto;
}
